* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-list, .cart {
    display: flex;
}

.logo-container, .cart {
    flex: 1;
}

.logo-container {
    align-items: center;
}

.nav {
    flex: 2;
}

.nav-list {
    list-style: none;
    justify-content: space-around;
}

    .nav-list__link {
        text-decoration: none;
        color: #5f5f79;
        font-size: 18px;
    }

.cart {
    justify-content: flex-end;
}

.logo-container__heading {
    font-weight: 400;
    margin-left: 10px;
}

.presentation {
    min-height: 80vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.intro {
    flex: 1;
}

    .main-heading__h1 {
        font-size: 44px;
        font-weight: 500;

    }

    .main-heading__sub {
        font-size: 22px;
        margin-top: 5px;
    }

    .intro__cta {
        padding: 50px 0 0 0;
    }

    .cta__button {
        width: 150px;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
    }

    .cta__button-select {
        border: 2px solid#c36cbb;
        background: transparent;
        color: #c36cbb;
    }

        .cta__button-select:hover {
            background: #c36cbb;
            color: white;
            transition: .5s;
        }

    .cta__button-add {
        background: #c36cbb;
        border: none;
        color: white;
        margin: 30px 0 0 30px;
    }

        .cta__button-add:hover {
            background: white;
            color: #c36cbb;
            border: 2px solid #c36cbb;
        }



.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}
    .cover__img {
        height: 100%;
        filter: drop-shadow(0px 5px 3px black);
        animation: drop 1.5s ease;
    }

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
        .intro {
            margin-top: 5vh;
            text-align: center;
        }
            .intro__cta {
                padding: 10px 0 0 0;
            }
    .cover__img {
        height: 80%;
    }
}



@keyframes drop {
    0% {
        opacity: 0;
        transform: translate(-80px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}